/* CSS Document */

.file { position:absolute; left:90px; top:8px; display:none;filter:alpha(opacity=0);opacity:0}
.file1 { padding:2px 10px; display:block; float:left; background:#FF66CC; color:#fff; z-index:1; margin-left:5px; vertical-align:middle; cursor: pointer;}
.inputstyle { width:150px; border:1px solid #888; z-index:99; color:#000000;}

textarea  {
	border: 1px solid #000000;
	font-size: 16px;
	font-family:ו;
	text-decoration: none;
	word-break:break-all;
	width:98%;
	color:#000000;
}

select{
	font-family:"Tahoma","ו";
	font-size:9pt;
	color:#000000;
	border:1px #888 solid;
	background-color:#FFFFFF;
	font-style:normal;
}

a:link {
	color: #000000;
	font-size: 12px;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #59929D;
	text-decoration: underline;
	cursor:hand;
}
a:active {
	font-size: 12px;
	color: #59929D;
	text-decoration: none;
	cursor:hand;
}

.button{
	color: #000000;
	font-size: 12px;
	width:56px; 
	height:25px; 
	background-image:url(../images/table/button.png); 
	background-repeat:no-repeat;
	border:0px; 
	float:center;
	cursor:pointer!important;cursor:hand; 
	display:inline;
}
.button2{
	color: #000000;
	font-size: 12px;
	width:56px; 
	height:25px; 
	background-image:url(../images/table/button2.png); 
	background-repeat:no-repeat;
	border:0px; 
	float:center;
	cursor:pointer!important;cursor:hand; 
	display:inline;
} 

.input_txt { border:1px solid #888; z-index:99; padding-left:2px; color:#000000;}
.input_txt2 { border:1px solid #888; z-index:99; padding-left:2px;width:92%; color:#000000;}

.line_text {
	border-right:#000000 0px solid;
	border-left:#000000 0px solid;
	border-top:#000000 0px solid;
	border-bottom:#000000 1px solid;
}

.noborder_text1 {
	border:none;
	width:100px;
}
.noborder_text2 {
	border:none;
	width:50px;
}
.noborder_text3 {
	border:none;
	width:95%;
}
.noborder_text4 {
	border:none;
}
